<!--<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="col">

    </div>
    <button class="navbar-brand" (click)="goInicio()" style="background-color:rgba(95, 158, 160, 0) ; border-color:rgba(0,0,0,0);">Inicio</button>
    <button class="navbar-brand" (click)="goCertificados()"style="background-color:rgba(95, 158, 160, 0) ; border-color:rgba(0,0,0,0);">Certificados</button>
    <button class="navbar-brand" (click)="goContacto()"style="background-color:rgba(95, 158, 160, 0) ; border-color:rgba(0,0,0,0);">Contacto</button>
    <button class="navbar-brand" (click)="goEditar()"style="background-color:rgba(95, 158, 160, 0) ; border-color:rgba(0,0,0,0);">Editar</button>
    <div class="navbar-brand" href="#">User</div>
    
  </div>
</nav>-->
<router-outlet></router-outlet>
